@import url('https://fonts.googleapis.com/css?family=Righteous|Rokkitt|Viga|Roboto&display=swap');

html, body {
    padding: 0;
    margin: 0;
    background-color: #ECECEC;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25vw;
    box-shadow: 1px 0 3px 1px #777;
}

.content {
    position: relative;
    width: 75%;
    float: right;    
    min-height: 100vh;
}

/* MENU */

.menu-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #385170;
    padding: 0 0 0 0;
}

.menu-container .logo {
    text-transform: uppercase;
    font: 300 3em 'Righteous', cursive;
    text-align: center;
    padding: 30% 0 0 0;
    margin: 0;
    opacity: 0.9;
    transition: 100ms;
}

.logo:hover {
    opacity: 1;
}

.logo a {
    display: block;    
    color: #9fd3c7;
    text-decoration: none;
    transition: .15s linear color;
}

.logo a span {
    color: #70acb1;
    font-weight: 600;
    transition: .15s linear color;
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 40%;
    transform: translateY(-65%);
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    padding: 0;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    position: relative;
    margin: 10% 0;
}

.nav ul li a {
    line-height: 3em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(255, 255, 255, 0.35);
    display: block;
    transition: all ease-out 300ms;
}

.nav ul li.active a {
    color: white;
}

.nav ul li:not(.active)::after {
    opacity: 0.4;
}

.nav ul li:not(.active):hover a {
    color: rgba(255, 255, 255, 0.75);
}

.nav ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #3629a2, #00ceff);
}

/* CHOICE */
.options-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opt-button {
    height: 40px;
    box-sizing: border-box;
    font-weight: bold;
    background: none;
    border: 1px solid #3629a2;
    border-radius: 15px;
    padding: 0 15px;
    cursor: pointer;
}

.opt-button:hover {
    background-image: linear-gradient(to right, #25aae1, #3f86ed);
    border-color: white;
    background-size: 300% 100%;
    color: white;
    transition: 200ms;
}

.single-selected {
    border-color: green;
    box-shadow: 1px 1px 5px green;
}

.multi-selected {
    border-color: rgb(187, 187, 2);
    box-shadow: 1px 1px 1px rgb(255, 255, 0);
}