@import url('https://fonts.googleapis.com/css?family=Righteous|Rokkitt|Viga|Roboto&display=swap');

html, body {
    padding: 0;
    margin: 0;
    background-color: #ECECEC;
    font-family: Arial, Helvetica, sans-serif;
}

/* HOME */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    box-shadow: 1px 0 3px 1px #777;
}

.content {
    position: relative;
    width: 75%;
    float: right;
    height: 100vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo {
    text-transform: uppercase;
    font: 300 4em 'Righteous', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
}

.logo a {
    display: block;    
    color: #142d4c;
    text-decoration: none;
    transition: .15s linear color;
}

.logo a:hover {
    color: #9fd3c7;
}

.logo a:hover span {
    color: #70acb1;
}

.logo span {
    font-weight: 600;
    transition: .15s linear color;
}

h2 {
    margin: 0;
}

.gradient-multiline {
    position: relative;
    width: 300px;
    background-color: #ececec;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Rokkitt', serif;
    overflow: hidden;
}
  
.gradient-multiline span {
    color: #fff;
    background-color: #000;
    padding: 0.225rem 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
  
@supports (mix-blend-mode: lighten) {

.gradient-multiline::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(60deg, #3629a2, #00ceff);
    mix-blend-mode: lighten;
}

}

/* SIGN-FORM */

.sign-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #385170;
}

a {
    text-decoration: none;
}

.submit-btn {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

.submit-btn:hover {
    background-position: 100% 0;    
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.submit-btn:focus {
    outline: none;
}

.signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
    transition: all .3s ease;
}

.signin.slide-up {
    top: 5%;
    transform: translate(-50%, 0%);
    transition: all .3s ease;
}

.signin.slide-up .form-holder,
.signin.slide-up .submit-btn {
    opacity: 0;
    visibility: hidden;
}

.signin.slide-up .form-title {
  font-size: 1em;
  cursor: pointer;
}

.signin.slide-up .form-title span {
    margin-right: 5px;
    opacity: 1;
    display: inline;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.signin .form-title {
  color: #9fd3c7;
  font-size: 2.5em;
  font-family: 'Viga', sans-serif;
  text-align: center;
}

.signin .form-title span {
    color: #fff;
    opacity: 0;
    display: none;
    transition: all .3s ease;
}

.signin .form-holder {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.signin .form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}
.signin .form-holder .input:last-child {
  border-bottom: 0;
}
.signin .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}



.signup {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9fd3c7;
    z-index: 5;
    transition: all .3s ease;
}

.signup::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0);
    background-color: #9fd3c7;
    width: 200%;
    height: 250px;
    border-radius: 50%;
    z-index: 4;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.signup .center {
    position: absolute;
    top: calc(50% - 10%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.signup .center .form-title {
    color: #142d4c;
    font-size: 2.5em;
    font-family: 'Viga', sans-serif;
    text-align: center;
}

.signup .center .form-title span {
    opacity: 0;
    display: none;
    font-size: 1em;
}

.signup .center .form-holder {
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    margin-top: 50px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.signup .center .form-holder .input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}

.signup .center .form-holder .input:last-child {
    border-bottom: 0;
}

.signup .center .form-holder .input::-webkit-input-placeholder {
     color: rgba(0, 0, 0, 0.4);
}

.signup.slide-up {
    top: 95%;
    transition: all .3s ease;
}

.signup.slide-up .center {
    top: 10%;
    transform: translate(-50%, 0%);
    transition: all .3s ease;
    transition: all .3s ease;
}

.signup.slide-up .form-holder, .signup.slide-up .submit-btn {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.signup.slide-up .center .form-title {
    font-size: 1em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease;
}

.signup.slide-up .center .form-title span {
    margin-right: 5px;
    opacity: 1;
    color: white;
    display: inline;  
    font-size: 1em;
}

/* MENU */

.menu-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #385170;
    padding: 0 0 0 0;
}

.logo {
    text-transform: uppercase;
    font: 300 3em 'Righteous', cursive;
    text-align: center;
    padding: 30% 0 0 0;
    margin: 0;
    opacity: 0.9;
    transition: 100ms;
}

.logo:hover {
    opacity: 1;
}

.logo a {
    display: block;    
    color: #9fd3c7;
    text-decoration: none;
    transition: .15s linear color;
}

.logo a span {
    color: #70acb1;
    font-weight: 600;
    transition: .15s linear color;
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 40%;
    transform: translateY(-65%);
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    padding: 0;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    position: relative;
    margin: 10% 0;
}

.nav ul li a {
    line-height: 3em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(255, 255, 255, 0.35);
    display: block;
    transition: all ease-out 300ms;
}

.nav ul li.active a {
    color: white;
}

.nav ul li:not(.active)::after {
    opacity: 0.4;
}

.nav ul li:not(.active):hover a {
    color: rgba(255, 255, 255, 0.75);
}

.nav ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #3629a2, #00ceff);
}