.centered-content
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 160px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.centered-content h1 {
    margin: 0px;
    color: #2E9CCA;
}