.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo-container .logo {
    font-size: 4em;
}

.logo-container .logo a {
    color: #142d4c;
}

.logo-container .logo a:hover {
    color: #9fd3c7;
}

.logo-container .logo a:hover span {
    color: #70acb1;
}

.logo-container .logo span {
    font-weight: 600;
    transition: .15s linear color;
}

.gradient-multiline {
    position: relative;
    width: 300px;
    background-color: #ececec;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Rokkitt', serif;
    overflow: hidden;
}

.gradient-multiline span {
    color: #fff;
    background-color: #000;
    padding: 0.225rem 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    user-select: none;
}
  
@supports (mix-blend-mode: lighten) {
    .gradient-multiline::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background: linear-gradient(60deg, #3629a2, #00ceff);
        mix-blend-mode: lighten;
    }
}