.menu-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #385170;
    padding: 0 0 0 0;
}

.menu-container .logo {
    font-size: 3em;
    padding-top: 30%;
    opacity: 0.9;
    transition: 100ms;
}

.menu-container .logo:hover {
    opacity: 1;
}

.menu-container .logo a {  
    color: #9fd3c7;
}

.menu-container .logo a span {
    color: #70acb1;
    font-weight: 600;
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 40%;
    transform: translateY(-65%);
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    padding: 0;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    position: relative;
    margin: 10% 0;
}

.nav ul li a {
    line-height: 3em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(255, 255, 255, 0.35);
    display: block;
    transition: all ease-out 300ms;
}

.nav ul li.active a {
    color: white;
}

.nav ul li:not(.active)::after {
    opacity: 0.4;
}

.nav ul li:not(.active):hover a {
    color: rgba(255, 255, 255, 0.75);
}

.nav ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #3629a2, #00ceff);
}