@import url('https://fonts.googleapis.com/css?family=Righteous|Rokkitt|Viga|Roboto&display=swap');

/* STYLE */

html, body {
    padding: 0;
    margin: 0;
    background-color: #ECECEC;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25vw;
    box-shadow: 1px 0 3px 1px #777;
}

#page-content {
    position: relative;
    width: 75%;
    float: right;    
    min-height: 100vh;
}

/* SPECIAL BUTTON */

a {
    text-decoration: none;
}

.special-btn {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

.special-btn:hover {
    background-position: 100% 0;    
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.special-btn:focus {
    outline: none;
}

/* LOGO */

.logo {
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
}

.logo a {
    display: block;
    text-decoration: none;
    transition: .15s linear color;
}
