header#viewer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #385170;
    color: white;
    font-weight: bold;
    box-shadow: 0 1px 5px black;
}

a.navigation {
    text-decoration: none;
    color: rgb(240, 235, 235);
    font-variant: small-caps;
    font-family: 'Viga', sans-serif;
    cursor: pointer;
}

a.navigation:hover {
    color: white;
}

#task-container, .answers-list {
    background-color: white;
    width: 90vw;
    margin: 5vh auto;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    padding: 20px;
}

.progress-container + .task-container {
    margin-top: 0vh;
}

.task-text {
    border-bottom: 1px solid #3629a2;
    padding-bottom: 20px;
    text-align: justify;
}

.task-phaser {
    border-bottom: 1px solid #3629a2;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blockly {
    display: inline-block;
    width: 40vw;
    height: 600px;
    border-style: ridge;
    border-width: 2px;
    border-color: blue;
    border-radius: 12px; 
    overflow: hidden;   
}

#phaser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

#phaser canvas {
    width: 40vw;
}

.answer-area {
    padding: 20px;
    padding-bottom: 0;
    border-bottom: 1px solid #3629a2;
    padding-bottom: 20px;
}

a.jump {
    float: right;
    font-weight: bold;
    width: 18.5%;
    text-align: center;
    min-width: 110px;
    color: #002564;
}

#viewer-header .logo {
    font-size: 2em;
    opacity: 0.9;
}

#viewer-header .logo:hover {
    opacity: 1;
}

#viewer-header .logo a {
    color: #9fd3c7;
}

#viewer-header .logo a span {
    color: #70acb1;
    font-weight: 600;
}

.answer-area input {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid #4481eb;
}

.answer-area input:focus {
    box-shadow: 0 0 10px #4481eb;
}

.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.progress-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-container li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    list-style-type: none;
    float: left;
    background-color: #cde0ff;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    color: rgb(75, 75, 75);
    font-weight: bold;
    box-sizing: border-box;
}

.progress-container li:hover {
    color: whitesmoke;
    transition: 100ms ease-in;
    background-color: #94bdff;
    cursor: pointer;    
    box-shadow: 1px 1px 5px #5a97f8;
}

li.current-task {
    border: 2px solid #3c65aa;
}

li.arrow {
    width: 25px;
    height: 25px;
    background-color: #526a8f;
    color: white;
    font-weight: bold;
}

.progress-container .has-answer {
    background-color: #4481eb;
    color: whitesmoke;
}

/* CHOICE */

.options-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.opt-button {
    height: 40px;
    box-sizing: border-box;
    font-weight: bold;
    background: none;
    border: 1px solid #3629a2;
    border-radius: 15px;
    padding: 0 15px;
    cursor: pointer;
}

.opt-button:hover, .selected {
    background-image: linear-gradient(to right, #25aae1, #3f86ed);
    border-color: white;
    background-size: 300% 100%;
    color: white;
    transition: 200ms;
}

.selectedB {
    background-image: linear-gradient(to right, #25aae1, #3f86ed);
    border-color: #25aae1;
    background-size: 300% 100%;
    color: white;
    transition: 200ms;
}

.phaser-injection {
    height: 240px;
    width: 400px;
    border: none;
}

button.phaser-option {
    height: 220px;
    width: 245px;
    box-sizing: border-box;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
}

.task-phaser {
    border-bottom: 1px solid #3629a2;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blockly {
    display: inline-block;
    width: 40vw;
    height: 600px;
    border-style: ridge;
    border-width: 2px;
    border-color: blue;
    border-radius: 12px; 
    overflow: hidden;   
}    

#phaser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

#phaser canvas {
    width: 40vw;
}

/* ANSWERS LIST */

.answers-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;    
}

.answers-list table {
    border-collapse: collapse;
    padding: 5px;
    width: 20vw;
    border-radius: 10px;
}

.answers-list tr + tr {
    border-top: 1px solid #002564;
}

.answers-list td + td, th + th {
    border-left: 1px solid #002564;
}

.answers-list td, th {
    text-align: center;
    padding: 7px;
}

.answers-list td span {  
    width: 15px;
    font-weight: bold;
}

span.done {
    color: green;
}

span.undone {
    color: #3c65aa;
}