.viewer header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #385170;
    color: white;
    font-weight: bold;
    box-shadow: 0 1px 5px black;
}

.viewer a.navigation {
    text-decoration: none;
    color: rgb(240, 235, 235);
    font-variant: small-caps;
    font-family: 'Viga', sans-serif;
    cursor: pointer;
}

.viewer a.navigation:hover {
    color: white;
}

.viewer .task-container, .answers-list {
    background-color: white;
    width: 90vw;
    margin: 5vh auto;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    padding: 20px;
}

.viewer .progress-container + .task-container {
    margin-top: 0vh;
}

.viewer .task-text {
    border-bottom: 1px solid #3629a2;
    padding-bottom: 20px;
    text-align: justify;
}

.viewer .task-phaser {
    border-bottom: 1px solid #3629a2;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.viewer #blockly {
    display: inline-block;
    width: 40vw;
    height: 600px;
    border-style: ridge;
    border-width: 2px;
    border-color: blue;
    border-radius: 12px; 
    overflow: hidden;   
}    

.viewer #phaser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.viewer #phaser canvas {
    width: 40vw;
}

.viewer button.highlight {    
    color: #3c65aa;
    cursor: pointer;
	border-radius: 40px;
    box-sizing: border-box;
	display: block;
	height: 40px;
	letter-spacing: 1px;
    margin: 1% auto;
	padding: 4px;
	position: relative;
    text-decoration: none;
	text-transform: uppercase;
    width: 200px;
    font-weight: bold;
    z-index: 2;
    border: 0;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    background-size: 300% 100%;
}

.viewer button.highlight span {
    align-items: center;
	background: #fff;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.viewer button.highlight:hover span {
    background: transparent;
    color: #fff;
}

.viewer button.highlight:focus {
    outline: none;
}

.viewer .answer-area {
    padding: 20px;
    padding-bottom: 0;
    border-bottom: 1px solid #3629a2;
    padding-bottom: 20px;
}

.viewer a.jump {
    float: right;
    font-weight: bold;
    width: 18.5%;
    text-align: center;
    min-width: 110px;
    color: #002564;
}

.viewer .logo {
    text-transform: uppercase;
    font: 300 2em 'Righteous', cursive;
    text-align: center;
    margin: 0;
    opacity: 0.9;
    transition: 100ms;
}

.viewer .logo:hover {
    opacity: 1;
}

.viewer .logo a {
    display: block;    
    color: #9fd3c7;
    text-decoration: none;
    transition: .15s linear color;
}

.viewer .logo a span {
    color: #70acb1;
    font-weight: 600;
    transition: .15s linear color;
}

/* INPUT */

.viewer input {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid #4481eb;
}

.viewer input:focus {
    box-shadow: 0 0 10px #4481eb;
}

.viewer .submit-btn {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: 0;
    border-radius: 15px;
    height: 40px;
    width: 13%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

.viewer .submit-btn:hover {
    background-position: 100% 0;    
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.viewer .submit-btn:focus {
    outline: none;
}

.viewer .progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.viewer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.viewer li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    list-style-type: none;
    float: left;
    background-color: #cde0ff;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    color: rgb(75, 75, 75);
    font-weight: bold;
    box-sizing: border-box;
}

.viewer li:hover {
    color: whitesmoke;
    transition: 100ms ease-in;
    background-color: #94bdff;
    cursor: pointer;    
    box-shadow: 1px 1px 5px #5a97f8;
}

.viewer li.current-task {
    border: 2px solid #3c65aa;
}

.viewer li.arrow {
    width: 25px;
    height: 25px;
    background-color: #526a8f;
    color: white;
    font-weight: bold;
}

.viewer .submit-btn {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 25px auto 10px auto;
    padding: 5px 45px;
    width: 15%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

.viewer .submit-btn:hover {
    background-position: 100% 0;    
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.viewer .submit-btn:focus {
    outline: none;
}

.viewer .progress-container .has-answer {
    background-color: #4481eb;
    color: whitesmoke;
}

.viewer .answers-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;    
}

.viewer table {
    border-collapse: collapse;
    padding: 5px;
    width: 20vw;
    border-radius: 10px;
}

.viewer tr + tr {
    border-top: 1px solid #002564;
}

.viewer td + td, th + th {
    border-left: 1px solid #002564;
}

.viewer td, th {
    text-align: center;
    padding: 7px;
}

.viewer td span {  
    width: 15px;
    font-weight: bold;
}

.viewer span.done {
    color: green;
}

.viewer span.undone {
    color: #3c65aa;
}