.options-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.phaser-option {
    height: 220px;
    width: 245px;
    box-sizing: border-box;
    font-weight: bold;
    background: none;
    border: 1px solid #3629a2;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
}

button.phaser-option:hover, .selecionada{
    box-shadow: 1px 1px 5px #3629a2;
    transition: 200ms;
}

.phaser-injection {
    height: 240px;
    width: 400px;
    border: none;
}

#r1, #r2, #r3, #r4{
    display: none;
}