.options-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    height: 40px;
    box-sizing: border-box;
    font-weight: bold;
    background: none;
    border: 1px solid #3629a2;
    border-radius: 15px;
    padding: 0 15px;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(to right, #25aae1, #3f86ed);
    border-color: white;
    background-size: 300% 100%;
    color: white;
    transition: 200ms;
}