<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card class="subject-card">
            <mat-card-header>
              <br><mat-card-title>Operações</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="subject-icon">
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Iniciar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>