.task-container {
    background-color: white;
    width: 75vw;
    margin: 5vh auto;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    padding: 20px;
}

h1 {
    margin-top: 0;
    border-bottom: 1px solid black;
    font-family: 'Viga', sans-serif;
}

.task-text {
    border-bottom: 1px solid black;
}

.answer-area {
    padding: 20px;
}

input {
    width: 80%;
    height: 30px;
    margin-right: 5%;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    box-shadow: 0 0 3px black;
}

button {
    width: 12%;
    height: 40px;
    float: right;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 0 3px black;
}