<header>
    <a class="navigation" href="/tasks">< ATIVIDADES</a>
    <h1 class="logo">
        <a href="/home">Pens<span>comp</span></a>            
    </h1>
    <a class="navigation" (click)="nextTask()">PULAR QUESTÃO ></a>
</header>

<div class="task-container">
    <div class="task-text">
        {{ task.statement }}
    </div>
    <div [ngSwitch]="task.type" class="answer-area">
        <app-input *ngSwitchCase="'input'"></app-input>
        <app-choice *ngSwitchCase="'choice'" [options]="task.options"></app-choice>
    </div> 
</div>
