.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    box-shadow: 1px 0 3px 1px #777;
}

.content {
    position: relative;
    width: 75%;
    float: right;
    height: 100vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo {
    text-transform: uppercase;
    font: 300 4em 'Righteous', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
}

.logo a {
    display: block;    
    color: #142d4c;
    text-decoration: none;
    transition: .15s linear color;
}

.logo a:hover {
    color: #9fd3c7;
}

.logo a:hover span {
    color: #70acb1;
}

.logo span {
    font-weight: 600;
    transition: .15s linear color;
}

h2 {
    margin: 0;
}

.gradient-multiline {
    position: relative;
    width: 300px;
    background-color: #ececec;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Rokkitt', serif;
    overflow: hidden;
}
  
.gradient-multiline span {
    color: #fff;
    background-color: #000;
    padding: 0.225rem 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
  
@supports (mix-blend-mode: lighten) {

.gradient-multiline::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(60deg, #3629a2, #00ceff);
    mix-blend-mode: lighten;
}

}